<!DOCTYPE html>
<html id="top" lang="en">
    <head>
        <title>Bwheel Home Page</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="css/app.css" rel="stylesheet">
    </head>

    <body ng-app="MyApp" >
        
        <header class="navbar navbar-fixed-top navbar-default"  >
            <div class="navbar-inner">
                <div class="container">
                    <div class="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a class="navbar-brand" >Byron Wheeler</a>
                            </li>
                            <li>
                                <a href="#education">Education</a>
                            </li>

                            <li>
                                <a href="#skills">Skills</a>
                            </li>

                            <li>
                                <a href="#repositories">Repositories</a>
                            </li>

                            <li>
                                <a href="#workexp">Work Experience</a>
                            </li>

                            <li>
                                <a href="#awards">Awards</a>
                            </li>

                            <li>
                                <a href="https://github.com/bwheel"><i class="fa fa-lg fa-github"></i> Profile</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div>
            <header class="jumbotron"  ng-controller="mainController">
                <div class="container">
                    <div class="col-sm-offset-1 col-sm-11 col-md-offset-2 col-md-10">
                        <h1>{{ user.name }}</h1>
                        <ul class="text-muted small">
                            <li style="list-style-type: none;" ng-if="user.email"><a href="mailTo:{{ user.email}}">{{ user.email}}</a></li>
                            <li style="list-style-type: none;" ng-if="user.location">{{ user.location}}</li>
                        </ul>
                    </div>
                </div>
            </header>

            <div class="container" >
                <div class="row">
                    <div class=" col-sm-12  col-md-12">

                        <section id="repositories" ng-controller="mainController">
                            
                            <h1 class="page-header">Github Projects</h1>
                            <p class="text-muted">
                                <input class="form-control" autofocus="autofocus" style="max-width: 15em; display: inline-block;" ng-model="searchText" placeholder="search...">
                                {{(repos| filter:searchText).length}} repositories
                            </p>
                            <div class="list-group">
                                <div ng-repeat="repo in repos| filter:searchText | orderBy: 'name'"  class="list-group-item">
                                    <p class="pull-right">
                                        <a href="{{repo.url}}" title="name / Demo page" ng-if="repo.url"><i class="fa fa-3x fa-github-square"></i></a>
                                    </p>
                                    <h3 class="list-group-item-heading">{{repo.name}}</h3>
                                    <p class="list-group-item-text text-muted" ng-if="repo.language">Primary language: {{ repo.language }}</p>
                                    <p class="list-group-item-text text-muted" ng-if="repo.description">Description: {{ repo.description }}</p>
                                </div>
                            </div>
                        </section>
<!--
                        <section id="workexp">
                            <h1 class="page-header">Work Experience</h1>
                        </section>

                        <section id="awards" ng-controller="awardController">
                            <h1 class="page-header">Awards</h1>

                            <div class="clearfix">
                                <ul ng-repeat="award in awards | orderBy: 'date'">
                                    <li>
                                        <h3 >{{award.title}}</h3>
                                        {{award.organization}}<p class="pull-right">{{award.date}}</p>
                                        
                                    </li>
                                </ul>
                            </div>
                        </section>
-->
                    </div>
                </div>
            </div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>


        <script src="app/js/controllers/mainController.js"></script>
    </body>
</html>